<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
    button{
        margin-top: 10px;
          padding:2px 7px 2px 7px;

    }
    </style>
</head>
<body>
    <h1>LET KONWLEDGE PLAY FOOTBALL</h1>
    <button id="guess_the_footballer"  onclick="window.location.href='/game'">GUESS THE FOOTBALLER</button>
    <br> 
    <button>GUES THE BALLAN DORS WINNER</button>
    <br>
    <button>GUESS THE PLAYER WITH RESPECT TO THE CLUB</button>
    <br>
    <button>level1</button>
    <br>
    <button>level2</button>
    <br>
    <button>level3</button>
    <br>
    <button>level4</button>

</body>
</html>